@import "tailwindcss";

html,
body {
  height: 100vh;
  overflow-y: auto;
}

.carousel-container {
  overflow: visible !important;
  overflow-x: hidden;
}

.react-multi-carousel-track {
  overflow-x: hidden;
}
